@page "/hotel/{HotelId:int}/reviews"

@using Realta.Frontend.Components.Hotel.Facilities
@using Realta.Frontend.Components.Hotel

<PageTitle>Hotel Reviews</PageTitle>

<section class="table-components">
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title">
                        <h2>
                            Review<span class="action" data-bs-toggle="modal" data-bs-target="#giverating">
                                <a @onclick="Clear">s</a>
                            </span>
                        </h2>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/hotel">Hotels</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Reviews
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <!-- end col -->
            </div>
            <!-- end row -->
        </div>


        <CardHotel HotelData="HotelData"/>


        <div class="card-style ">
            <div class="d-flex justify-content-center">
                <div class="search d-md-flex">

                    <div class="d-flex justify-content-center">
                        <div class="search d-md-flex">
                            <div class="input-style-3 mx-auto">
                                <Search OnSearchChanged="SearchChange" NameOfSearch="Star Reviews"/>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- End Title -->
            <div class="table-responsive">
                <table class="table top-selling-table">
                    <thead>
                    <tr>
                        <th class="min-width">
                            <h6 class="text-sm text-medium text-center">
                                Reviews
                            </h6>
                        </th>
                        <th class="min-width">
                            <h6 class="text-sm text-medium text-center">
                                Rating

                            </h6>
                        </th>
                        <th class="min-width">
                            <h6 class="text-sm text-medium text-center">
                                Created On
                            </h6>
                        </th>
                        <th>
                            @* <div class="action justify-content-end" data-bs-toggle="modal" data-bs-target="#createhotel"> *@
                            @*     <a href="#0" class="main-btn primary-btn-outline rounded-btn p-2"> *@
                            @*         <i class="mdi mdi-home-plus"></i> Add *@
                            @*     </a> *@
                            @* </div> *@
                        </th>
                    </tr>
                    </thead>


                    <tbody>
                    @if (ReviewsData.Count() > 0)
                    {
                        foreach (var data in ReviewsData)
                        {
                            <tr>
                                <td>
                                    <p class="text-sm text-center">@data.HoreUserReview</p>
                                </td>
                                <td class="text-center">

                                    @for (int starNumber = 1; starNumber <= 5; starNumber++)
                                    {
                                        if ((data.HoreRating - starNumber) < 1 && (data.HoreRating - starNumber) > 0)
                                        {
                                            <span class="mdi mdi-star-half-full text-center"></span>
                                        }
                                        else if ((data.HoreRating - starNumber) < 0)
                                        {
                                            <span class="mdi mdi-star-outline text-center"></span>
                                        }
                                        else
                                        {
                                            <span class="mdi mdi-star text-center"></span>
                                        }
                                    }

                                </td>
                                <td>
                                    <p class="text-sm text-center">@((data.HoreCreatedOn).ToString("dd MMMM yyyy"))</p>
                                </td>
                                <td>
                                    <div class="action align-content-center">
                                        <button class="more-btn ml-10 dropdown-toggle" id="moreAction1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="lni lni-more-alt"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction1">
                                            <li class="dropdown-item">
                                                <a href="/hotel" class="text-gray">Details</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a class="text-danger" data-bs-toggle="modal" data-bs-target="#@($"delete{@data.HoreId}")">
                                                    Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
                <!-- End Table -->
            </div>
            <Pagination MetaData="MetaData" Spread="1" SelectedPage="SelectedPage"/>
        </div>
    </div>
</section>

<!-- Edit Hotel -->
<span class="mdi mdi-star-outline"></span>

<!-- Create Hotel -->
<div class="warning-modal">
    <div class="modal modal-lg fade" id="giverating" tabindex="-1" aria-labelledby="EditLabel" aria-hidden="true">
        <div class="modal-dialog">
            <EditForm autocomplete="off" class="modal-content card-style" Model="_hotelReviewsDto" OnValidSubmit="Create">
                <DataAnnotationsValidator/>
                <div class="modal-header">
                    <h5 class="modal-title" id="EditLabel">Give Rating</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-0">
                    <div class="row">
                        <div class="input-style-1">
                            <label for="ratingstar">Rating Star</label>
                            <br/>

                            <InputRadioGroup id="ratingstar" @bind-Value="_hotelReviewsDto.HoreRating">
                                <table>
                                    <tr>
                                            
                                        @for (int rating = 1; rating <= 5; rating++)
                                        {
                                            <td class="text-center">
                                                <label>
                                                    <i class="mdi mdi-star-outline text-xxl-center"></i>
                                                    <InputRadio Value="@rating">@rating</InputRadio>
                                                </label>
                                            </td>
                                        }
                                    </tr>
                                </table>
                            </InputRadioGroup>
                            <ValidationMessage For="@(() => _hotelReviewsDto.HoreRating)"/>
                        </div>


                        <div class="input-style-2">
                            <label for="reviewUser">Review</label>
                            <div class="select-position">
                                <InputTextArea placeholder="Write a Review . . . " type="tel" id="reviewUser" @bind-Value="_hotelReviewsDto.HoreUserReview"/>
                                <ValidationMessage For="@(() => _hotelReviewsDto.HoreUserReview)"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="action d-flex flex-wrap justify-content-end">
                    <button type="button" data-bs-dismiss="modal" class="main-btn danger-btn-outline btn-hover m-1">
                        Cancel
                    </button>
                    <button data-bs-dismiss="modal" class="main-btn primary-btn btn-hover m-1">
                        Submit
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
</div>
<SuccessNotification @ref="_notification"/>

<!--Delete Hotel-->
<!--Delete Hotel-->
@foreach (var items in ReviewsData)
{
    <!-- Seragam Modal Delete Vendor-->
    <div class="warning-modal">
        <div class="modal fade" id="@($"delete{items.HoreId}")" tabindex="-1" aria-hidden="true" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content card-style warning-card text-center">
                    <div class="modal-body">
                        <div class="icon text-danger mb-20">
                            <i class="lni lni-warning"></i>
                        </div>
                        <div class="content mb-30">
                            <h2 class="mb-15">Warning!</h2>
                            <h5> This Review will be deleted? </h5>
                            <p class="text-sm text-medium">
                                Data that has been deleted cannot be recovered
                            </p>
                        </div>
                        <div class="action d-flex flex-wrap justify-content-center">
                            <button data-bs-dismiss="modal" class="main-btn light-btn-outline rounded-full btn-hover m-1">
                                Cancel
                            </button>
                            <button data-bs-dismiss="modal" class="main-btn danger-btn rounded-full btn-hover m-1" @onclick="() => Delete(HotelId, items.HoreId)">
                                Continue
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}