<div class="table-responsive">

    <table class="table top-selling-table">
        <thead>
        <tr>
            @* <th> *@
            @*     <h6 class="text-sm text-medium text-center">Id</h6> *@
            @* </th> *@
            <th class="min-width">
                <h6 class="text-sm text-medium text-center">
                    Hotel Name
                    <i class="lni lni-arrows-vertical"></i>
                </h6>
            </th>
            <th class="min-width">
                <h6 class="text-sm text-medium text-center">
                    Rating Star
                </h6>
            </th>
            <th class="min-width">
                <h6 class="text-sm text-medium text-center">
                    Phone Number
                </h6>
            </th>
            <th class="min-width">
                <h6 class="text-sm text-medium text-center">
                    Status
                </h6>
            </th>
            <th class="min-width">
                <h6 class="text-sm text-medium text-center">
                    Modified Date <i class="lni lni-arrows-vertical"></i>
                </h6>
            </th>
            <th>
                <div class="action justify-content-end" data-bs-toggle="modal" data-bs-target="#addHotels">
                    <a class="main-btn primary-btn-outline rounded-btn p-2" @onclick="ClearInput">
                        <i class="mdi mdi-home-plus"></i> Add
                    </a>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        @if (DataHotel.Count > 0)
        {
            foreach (var hotel in DataHotel)
            {
                <tr>
                    @* <td> *@
                    @*     <p class="text-sm">@(index++)</p> *@
                    @* </td> *@
                    <td>
                        <p class="text-sm">@hotel.HotelName</p>
                    </td>
                    <td class="text-center">
                        @for (int i = 1; i <= 5; i++)
                        {
                            if ((hotel.HotelRatingStar - i) < 1 && (hotel.HotelRatingStar - i) > 0)
                            {
                                <span class="mdi mdi-star-half-full"></span>
                            }
                            else if ((hotel.HotelRatingStar - i) < 0)
                            {
                                <span class="mdi mdi-star-outline"></span>
                            }
                            else
                            {
                                <span class="mdi mdi-star"></span>
                            }
                        }
                    </td>
                    <td>
                        @{
                            string phoneNumber = "";
                            if (hotel.HotelPhonenumber.Length <= 10)
                            {
                                phoneNumber = string.Format("({0}) {1}{2}{3}-{4}{5}{6}",
                                    hotel.HotelPhonenumber.Substring(0, 4),
                                    hotel.HotelPhonenumber[4],
                                    hotel.HotelPhonenumber[5],
                                    hotel.HotelPhonenumber[6],
                                    hotel.HotelPhonenumber[7],
                                    hotel.HotelPhonenumber[8],
                                    hotel.HotelPhonenumber[9]);
                            }
                            else
                            {
                                phoneNumber = string.Format("(0{0:##) ####-####}", double.Parse(@hotel.HotelPhonenumber));
                            }
                        }
                        <p class="text-sm">@phoneNumber</p>

                    </td>
                    <td class="text-center">
                        @if (hotel.HotelStatus == false)
                        {
                            <span class="status-btn close-btn">Inactive</span>
                        }
                        else
                        {
                            <span class="status-btn active-btn">Active</span>
                        }
                    </td>
                    <td class="text-center">
                        <p class="text-sm">
                            @hotel.HotelModifiedDate.ToString("dd MMMM yyyy")
                        </p>
                    </td>
                    <td>
                        <div class="action justify-content-end">
                            <button class="more-btn ml-10 dropdown-toggle" id="moreAction1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="lni lni-more-alt"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction1">
                                <li class="dropdown-item">
                                    <a class="text-gray" data-bs-toggle="modal" data-bs-target="#@($"edithotel")" @onclick="()=> OnUpdate(hotel)">Edit</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="/hotel/@hotel.HotelId/facilities" class="text-gray">Add Facilities</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="/hotel/@hotel.HotelId/reviews" class="text-gray">Reviews</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="text-gray" data-bs-toggle="modal" data-bs-target="#switchstatushotel">Switch Status</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="text-danger" data-bs-toggle="modal" data-bs-target="#@($"delete{@hotel.HotelId}")">
                                        Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center text-gray">
                    <h6>
                        DATA NOT FOUND
                    </h6>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>