@using System.Globalization

<div class="table-responsive">
    <table class="table top-selling-table">
        <thead>
        <tr>
            <th class="min-width">
                <h6 class="text-sm text-medium text-center">
                    Facility Name
                </h6>
            </th>
            <th class="min-width">
                <h6 class="text-sm text-medium text-center">
                    Room Number
                </h6>
            </th>
            <th class="min-width">
                <h6 class="text-sm text-medium text-center">
                    Max Vacant
                </h6>
            </th>
            @* <th class="min-width"> *@
            @*     <h6 class="text-sm text-medium text-center"> *@
            @*         Expose Price *@
            @*     </h6> *@
            @* </th> *@
            <th class="min-width">
                <h6 class="text-sm text-medium text-center">
                    Start End Date
                </h6>
            </th>
            <th class="min-width">
                <h6 class="text-sm text-medium text-center">
                    Range Price
                </h6>
            </th>
            <th class="min-width">
                <h6 class="text-sm text-medium text-center">
                    Disc.
                </h6>
            </th>
            <th class="min-width">
                <h6 class="text-sm text-medium text-center">
                    Rate Price
                </h6>
            </th>
            <th class="min-width">
                <h6 class="text-sm text-medium text-center">
                    Tax
                </h6>
            </th>
            <th>
                <div class="action justify-content-end" data-bs-toggle="modal" data-bs-target="#createhotel">
                    <a class="main-btn primary-btn-outline rounded-btn p-2">
                        <i class="mdi mdi-home-plus"></i> Add
                    </a>
                </div>
            </th>
        </tr>
        </thead>


        <tbody>


        @if (FacilitiesData.Count() > 0)
        {
            foreach (var faci in FacilitiesData)
            {
                <tr>
                    <td class="text-center">
                        <span style="white-space: nowrap">
                            <p class="text-sm text-center">@faci.FaciName</p>
                        </span>
                    </td>
                    <td class="text-center">
                        <span style="white-space: nowrap">
                            <p class="text-sm text-center">@faci.FaciRoomNumber</p>
                        </span>
                    </td>
                    <td class="text-center">
                        <span style="white-space: nowrap">
                            <p class="text-sm text-center">@faci.FaciMaxNumber @faci.FaciMeasureUnit</p>
                        </span>
                    </td>
                    @* <td class="text-center"> *@
                    @*     @{ *@
                    @*         if (faci.FaciExposePrice == 1) *@
                    @*         { *@
                    @*             <span style="white-space: nowrap" class="status-btn success-btn text-center">Low Price</span> *@
                    @*         } *@
                    @*         else if (faci.FaciExposePrice == 2) *@
                    @*         { *@
                    @*             <span style="white-space: nowrap" class="status-btn active-btn text-center">Rate Price</span> *@
                    @*         } *@
                    @*         else if (faci.FaciExposePrice == 3) *@
                    @*         { *@
                    @*             <span style="white-space: nowrap" class="status-btn warning-btn text-center">High Price</span> *@
                    @*         } *@
                    @* *@
                    @*     } *@
                    @* </td> *@
                    <td class="text-center">
                        <span style="white-space: nowrap">
                            <p class="text-sm text-center">@((faci.FaciStartdate).ToString("dd MMMM yyyy"))</p>
                        </span>
                        <span style="white-space: nowrap">
                            <p class="text-sm text-center">@((faci.FaciEndDate).ToString("dd MMMM yyyy"))</p>
                        </span>
                    </td>
                    <td class="text-center">
                        <span style="white-space: nowrap">
                            <p class="text-sm text-center">@faci.FaciLowPrice.ToString("C0", new CultureInfo("id-ID"))</p>
                        </span>
                        <span style="white-space: nowrap">
                            <p class="text-sm text-center">@faci.FaciHighPrice.ToString("C0", new CultureInfo("id-ID"))</p>
                        </span>
                    </td>

                    <td class="text-center">
                        @if (faci.FaciDiscount != 0)
                        {
                            <p class="text-sm text-center">@(((decimal)faci.FaciDiscount).ToString("N0")) %</p>
                        }
                        else
                        {
                            <p class="text-sm text-center"> - </p>
                        }
                    </td>
                    <td class="text-center">
                        <span style="white-space: nowrap">
                            <p class="text-sm text-center">@faci.FaciRatePrice.ToString("C0", new CultureInfo("id-ID"))</p>
                        </span>
                    </td>

                    <td class="text-center">
                        @if (faci.FaciTaxRate != 0)
                        {
                            <p class="text-sm text-center">@(((decimal)faci.FaciTaxRate).ToString("N0")) %</p>
                        }
                        else
                        {
                            <p class="text-sm text-center"> - </p>
                        }
                    </td>
                    <td class="text-center">
                        <div class="action align-content-center">
                            <button class="more-btn ml-10 dropdown-toggle" id="moreAction1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="lni lni-more-alt"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction1">
                                <li class="dropdown-item">
                                    <a href="/hotel" class="text-gray">Details</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="text-gray" data-bs-toggle="modal" data-bs-target="#edithotel">Edit</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="/hotel/@HotelId/facility/@faci.FaciId/History" class="text-gray">Price History</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="text-gray">Upload Photos</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="text-danger" href="#" data-bs-toggle="modal" data-bs-target="#delete">
                                        Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="9" class="text-center text-gray">
                    <h6>
                        THERE AREN'T ANY FACILITIES FOR THIS HOTEL YET
                    </h6>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <!-- End Table -->
</div>
